/* Element Properties */
li {
    list-style-type: none;
}

header > nav.my_navbar {
    background-color: #f4f5f6;
    height: 70px;
    min-width: 300px;
}

.my_small-logo {
    width: 45px;
    aspect-ratio: 1;
}

.my_navbar li,
.my_navbar img,
.fa-magnifying-glass {
    cursor: pointer;
}

main aside > nav.my_navbar {
    background-color: #10263c;
    background-image: url(../img/sidebar-bg.png);
    width: 60px;
    height: calc(100vh - 70px);
}

header > nav.my_navbar li,
.my_navbar img,
main aside > nav.my_navbar li,
.fa-magnifying-glass,
.fa-bell {
    transition: all .5s;
}

header > nav.my_navbar li:hover,
main aside > nav.my_navbar li:hover,
.fa-magnifying-glass:hover {
    color: #00df6b;
}

.fa-bell:hover {
    color: #fb8d00;
    transform: scale(1.4)
}

.my_navbar img:hover {
    transform: scale(1.1);
}

#content-section {
    width: calc(100vw - 60px);
    height: calc(100vh - 70px);
    cursor: default;
}

#summary-bar {
    background-color: #196bda;
}

#cards-section {
    background-color: #f2f3f4;
}

.my_icon {
    width: 38px;
    aspect-ratio: 1;
}

.card-body li:hover {
    background-color: #f2f3f4;
}


/* Utility */
.my_bg-grey {
    background-color: #e2e2e2;
}

.my_bg-darkblue {
    background-color: #1557b3;
}

.my_bg-orange {
    background-color: #f16451;
}


/* Responsive Layouts */

/* MD Layout (from 768px to 992 px */
@media screen and (min-width: 768px) {
    #content-section div.row > div.col:first-child {
        order: 1;
    }
}


/* LG Layout (from 992px to higher resolutions */
@media screen and (min-width: 992px) {
    main aside > nav.my_navbar {
        width: 120px;
    }
    
    #content-section {
        width: calc(100vw - 120px);
    }

    .my_w-40 {
        width: 40% !important;
    }
}


/* 2K Layout (from 2560px to higher resolutions */
@media screen and (min-width: 2560px) {
    html {
        font-size: 30px;
    }

    header > nav.my_navbar {
        height: 100px;
    }

    main aside > nav.my_navbar {
        width: 250px;
        height: calc(100vh - 100px);
    }
    
    input[type=checkbox] {
        transform: scale(1.5);
    }
    
    #content-section {
        width: calc(100vw - 250px);
        height: calc(100vh - 100px);
    }

    .my_logo {
        width: 300px;
    }

    .my_icon {
        width: 70px;
        aspect-ratio: 1;
    }
}

/* 4K Layout (from 3840px to higher resolutions */
@media screen and (min-width: 3840px) {
    html {
        font-size: 40px;
    }

    header > nav.my_navbar {
        height: 150px;
    }

    main aside > nav.my_navbar {
        width: 300px;
        height: calc(100vh - 150px);
    }

    input[type=checkbox] {
        transform: scale(2);
    }
    
    #content-section {
        width: calc(100vw - 300px);
        height: calc(100vh - 150px);
    }

    .my_icon {
        width: 90px;
        aspect-ratio: 1;
    }
}