/* Element Properties */
li {
    list-style-type: none;
    cursor: pointer;
}

header > nav.my_navbar {
    background-color: #f4f5f6;
    height: 70px;
    min-width: 300px;
}

header > nav.my_navbar ul > li:not(:last-child) {
    display: none;
}

.my_small-logo {
    width: 45px;
    aspect-ratio: 1;
}

.my_logo {
    display: none;
}

.fa-magnifying-glass {
    cursor: pointer;
}

main aside > nav.my_navbar {
    background-color: #10263c;
    background-image: url(../img/sidebar-bg.png);
    width: 60px;
    height: calc(100vh - 70px);
}

main aside > nav.my_navbar ul > li > span {
    display: none;
}

#content-section {
    width: calc(100vw - 60px);
    height: calc(100vh - 70px);
}

#summary-bar {
    background-color: #196bda;
}

#cards-section {
    background-color: #f2f3f4;
}


/* Utility */
.my_bg-grey {
    background-color: #e2e2e2;
}

.my_bg-darkblue {
    background-color: #1557b3;
}

.my_bg-orange {
    background-color: #f16451;
}

.my_text-orange {
    color: #fb8d00;
}

.my_icon {
    width: 40px;
    aspect-ratio: 1;
}

.my_small-font {
    font-size: .9rem;
}

/* Responsive Layout */
/* MD Layout (from 768px to 992 px */
@media screen and (min-width: 768px) {
    #content-section div.row > div.col:first-child {
        order: 1;
    }
}

/* LG Layout (from 992px to higher resolutions */
@media screen and (min-width: 992px) {
    header > nav.my_navbar ul > li:not(:last-child) {
        display: inline;
    }

    .my_small-logo {
        display: none;
    }

    .my_logo {
        display: inline;
    }

    main aside > nav.my_navbar {
        width: 120px;
    }

    main aside > nav.my_navbar ul > li > span {
        display: inline;
    }
    
    #content-section {
        width: calc(100vw - 120px);
    }

    .my_w-40 {
        width: 40% !important;
    }
}